
<html>
<head>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' integrity='sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==' crossorigin='anonymous'>
  <link href="{{ url_for('static', filename='games.css') }}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/game-setup.js') }}"></script>
</head>
<body>
  <div class="container-fluid setup ">
    <div class="options col-sm-9">
      <div class="warnings col-sm-12">
        <div id="table-ready" class="col-sm-6 alert alert-danger">
          Table Not Ready
        </div>
        <div id="game-ready" class="col-sm-6 alert alert-warning">
          Game Options Not Yet Selected
        </div>
      </div>
      <table class="game-type">
        <tr class="header">
          <th colspan="3">Game To (Score):</th>
          <th colspan="2">Game Length (Min): </th>
        </tr>
        <tr class="length-options">
          <td><button value="1" class="btn btn-primary">5</button></td>
          <td><button value="2" class="btn btn-primary">7</button></td>
          <td><button value="3" class="btn btn-primary">10</button></td>
          <td><button value="4" class="btn btn-primary">5</button></td>
          <td><button value="5" class="btn btn-primary">10</button></td>
        </tr>
      </table>
      <div class="player col-sm-6">
        Player 1
        <select id="player1" class="form-control player-select">
          <option value='0'>Select Player</option>
          {% for player_id, name in players.items() %}
          <option value='{{ player_id }}'>{{ name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="player col-sm-6">
        Player 2
        <select id="player2" class="form-control player-select">
          <option value='0'>Select Player</option>
          {% for player_id, name in players.items() %}
          <option value='{{ player_id }}'>{{ name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="side-menu col-sm-3">
      <div>
        <button id="start" class="btn btn-success disabled">Start</button>
      </div>
      <div>
        <button id="reset" class="btn btn-danger">Reset</button>
      </div>
      <div>
        <button id="guest" class="btn btn-info disabled">Guest</button>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav navbar-nav">
      <li class="nav-option active" id="setup"><a href="/">Setup</a></li>
      <li class="nav-option" id="admin"><a href="/admin">Admin</a></li>
    </ul>
  </nav>
</body>
</html>
